.landing {
  background-image: url(./images/HD-wallpaper-stack-of-books-blue-background-education-concepts-books-library-school-learning-concepts.jpg);
  min-height: calc(100vh - 56px);
  background-size: 100% 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.row {
  margin:0 !important;
}